div.loginCard {
  display: flex-end;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50vh;

  padding: 5rem;
  border: 1px solid #b6b6b6; 
  border-radius: 8px;
  margin: 10px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    text-align: center;
  }


label {
 text-align: left;
 padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 5px;
  border-radius: 8px;
}

button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .loginCard {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
 

  