div.cardContainer {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

div.card {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(169, 169, 169, 0.3);

    img { 
        width: 100%; 
        display: block; 
        border-radius: 0px 0px 3px 3px ; }

    button {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6px 8px;
        border-radius: 4px;
        border: none;

        background: rgb(214, 217, 226);
        box-shadow: 1px 1px 2px 1px rgba(70,70,70,0.3);

    }    

 

 }
}